﻿@{
    ViewData["Title"] = "FormatadorDeEmailMarketing";
}

<section>
    <div class="container">
        <form method="post" asp-action="FormatadorDeEmailMarketing" asp-controller="Ferramentas" enctype="multipart/form-data" class="form-horizontal">
            <div class="form-group">
                <label for="color" class="col-lg-4 control-label">Cor do texto dinâmico:</label>
                <div class="col-lg-8">
                    <input type="text" name="color" />
                </div>
            </div>
            <div class="form-group">
                <label for="backgroundColor" class="col-lg-4 control-label">Cor do background do texto dinâmico:</label>
                <div class="col-lg-8">
                    <input type="text" name="backgroundColor" />
                </div>
            </div>
            <div class="form-group">
                <label for="fontWeight" class="col-lg-4 control-label">Font-Weight do texto dinâmico:</label>
                <div class="col-lg-8">
                    <input type="text" name="fontWeight" />
                </div>
            </div>
            <div class="form-group">
                <label for="fontFamily" class="col-lg-4 control-label">Font-Family do texto dinâmico:</label>
                <div class="col-lg-8">
                    <input type="text" name="fontFamily" />
                </div>
            </div>
            <div class="form-group">
                <label for="fontFamily" class="col-lg-4 control-label">Upload do arquivo .html</label>
                <div class="col-lg-8">
                    <input type="file" name="file" multiple />
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-8">
                    <button type="submit" class="btn btn-primary center-block">Formatar Arquivo</button>
                </div>
            </div>
        </form>
    </div>
</section>