﻿@{
    ViewData["Title"] = "Ferramentas";
}

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="conteudo">
                    <a href="@Url.Action("FormatadorDeEmailMarketing", "Ferramentas")" class="text-uppercase">Formatador de E-mail Marketing</a>
                </div>
            </div>
        </div>
    </div>
</section>