﻿@{
    ViewData["Title"] = "Como Recortar E-mail Marketing";
}

<div class="container">
    <div class="conteudo">
        <h3 class="text-center text-uppercase">como recortar e-mail marketing</h3>
        <p>Antes de tudo, abandone toda sua esperança e conhecimento em padrões web.</p>
        <p>Recorte a imagem no PSD que te mandaram, fazendo sempre cortes voltados para colunas, nunca linhas. Se você criar apenas um ROWSPAN que for acabou seu layout.</p>
    </div>
</div>