﻿@{
    ViewData["Title"] = "Home";
}

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <div class="conteudo">
                    <a href="@Url.Action("ComoRecortarEmailMarketing", "Posts")" class="text-uppercase">Como Recortar E-mail Marketing</a>
                </div>
            </div>
            <div class="col-lg-3">
                <img src="~/images/gif_1.gif" class="img-responsive" />
            </div>
            <div class="col-lg-3 col-lg-offset-9">
                <img src="~/images/capivara.png" class="img-responsive" />
            </div>
        </div>
    </div>
</section>