*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: #04a466;
}

.bt-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    border-width: 0px;
    border-style: solid;
    border-color: #000;
    background-color: rgba(0,0,0,0);
    -webkit-backface-visibility: hidden;
    -webkit-transition: border-width 0.3s, background-color 0.3s, height 0s 0.3s;
    transition: border-width 0.3s, background-color 0.3s, height 0s 0.3s;
    z-index: 9999;
}

    .bt-menu.bt-menu-open {
        height: 100%;
        border-width: 30px 30px 30px 90px;
        background-color: rgba(0,0,0,0.3);
        -webkit-transition: border-width 0.3s, background-color 0.3s;
        transition: border-width 0.3s, background-color 0.3s;
    }

.bt-overlay {
    position: absolute;
    width: 100%;
}

.bt-menu-open .bt-overlay {
    height: 100%;
}

.bt-menu-trigger {
    position: fixed;
    top: 15px;
    left: 20px;
    display: block;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

    .bt-menu-trigger span {
        position: absolute;
        top: 50%;
        left: 0;
        display: block;
        width: 100%;
        height: 4px;
        margin-top: -2px;
        background-color: #fff;
        font-size: 0px;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-transition: background-color 0.3s;
        transition: background-color 0.3s;
    }

.bt-menu-open .bt-menu-trigger span {
    background-color: transparent;
}

.bt-menu-trigger span:before,
.bt-menu-trigger span:after {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    content: '';
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}

.bt-menu-trigger span:before {
    -webkit-transform: translateY(-250%);
    transform: translateY(-250%);
}

.bt-menu-trigger span:after {
    -webkit-transform: translateY(250%);
    transform: translateY(250%);
}

.bt-menu-open .bt-menu-trigger span:before {
    -webkit-transform: translateY(0) rotate(45deg);
    transform: translateY(0) rotate(45deg);
}

.bt-menu-open .bt-menu-trigger span:after {
    -webkit-transform: translateY(0) rotate(-45deg);
    transform: translateY(0) rotate(-45deg);
}

.bt-menu ul {
    position: fixed;
    top: 75px;
    left: 0;
    margin: 0;
    padding: 0;
    width: 90px;
    list-style: none;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

    .bt-menu ul li,
    .bt-menu ul li a {
        display: block;
        width: 100%;
        text-align: center;
    }

    .bt-menu ul li {
        padding: 16px 0;
        opacity: 0;
        visibility: hidden;
        -webkit-transition: -webkit-transform 0.3s, opacity 0.2s, visibility 0s 0.3s;
        transition: transform 0.3s, opacity 0.2s, visibility 0s 0.3s;
    }

        .bt-menu ul li:first-child {
            -webkit-transform: translate3d(-100%,200%,0);
            transform: translate3d(-100%,200%,0);
        }

        .bt-menu ul li:nth-child(2) {
            -webkit-transform: translate3d(-100%,100%,0);
            transform: translate3d(-100%,100%,0);
        }

        .bt-menu ul li:nth-child(3) {
            -webkit-transform: translate3d(-100%,0,0);
            transform: translate3d(-100%,0,0);
        }

        .bt-menu ul li:nth-child(4) {
            -webkit-transform: translate3d(-100%,-100%,0);
            transform: translate3d(-100%,-100%,0);
        }

        .bt-menu ul li:nth-child(5) {
            -webkit-transform: translate3d(-100%,-200%,0);
            transform: translate3d(-100%,-200%,0);
        }

.bt-menu.bt-menu-open ul li {
    visibility: visible;
    opacity: 1;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s 0.1s;
    transition: transform 0.3s, opacity 0.3s;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.bt-menu ul li a {
    display: block;
    outline: none;
    color: transparent;
    text-decoration: none;
    font-size: 0px;
}

    .bt-menu ul li a:before {
        color: #04a466;
        font-size: 48px;
        -webkit-transition: color 0.2s;
        transition: color 0.2s;
    }

    .bt-menu ul li a:hover:before,
    .bt-menu ul li a:focus:before {
        color: #fff;
    }

@media screen and (max-height: 31.125em) {
    .bt-menu ul li a:before {
        font-size: 32px;
    }
}
