﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Programador Fajuto</title>

    <environment names="Development">
        <link rel="icon" type="image/png" sizes="16x16" href="~/favicon.ico">
        <link rel="stylesheet" href="~/lib/normalize-css/normalize.css" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />

        <link href="~/lib/toastr/css/toastr.css" rel="stylesheet" />
        
        <link rel="stylesheet" href="~/components/AnimatedBorderMenus/css/icons.css" />
        <link rel="stylesheet" href="~/components/AnimatedBorderMenus/css/style2.css" />

        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="icon" type="image/png" sizes="16x16" href="~/favicon.ico">
        <link rel="stylesheet" href="~/lib/normalize-css/normalize.css" />
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />

        <link href="~/lib/toastr/css/toastr.css" rel="stylesheet" />

        <link rel="stylesheet" href="~/components/AnimatedBorderMenus/css/icons.css" />
        <link rel="stylesheet" href="~/components/AnimatedBorderMenus/css/style2.css" />

        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <nav id="bt-menu" class="bt-menu">
        <a href="#" class="bt-menu-trigger"><span>Menu</span></a>
        <ul>
            <li><a href="@Url.Action("Index", "Home")" class="bt-icon icon-home">Home</a></li>
            <li><a href="@Url.Action("Index", "Ferramentas")" class="glyphicon glyphicon-wrench">Refresh</a></li>
        </ul>
    </nav>
    <div class="body-content">
        @RenderBody()
    </div>


    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>

        <script src="~/lib/toastr/js/toastr.js"></script>

        <script src="~/components/AnimatedBorderMenus/js/classie.js"></script>
        <script src="~/components/AnimatedBorderMenus/js/borderMenu.js"></script>

        <script src="~/js/Geral.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>

        <script src="~/lib/toastr/js/toastr.js"></script>

        <script src="~/components/AnimatedBorderMenus/js/classie.js"></script>
        <script src="~/components/AnimatedBorderMenus/js/borderMenu.js"></script>

        <script src="~/js/Geral.js" asp-append-version="true"></script>
    </environment>

    @Html.Partial("_Mensagens")
    @RenderSection("scripts", required: false)
</body>
</html>
