﻿@if (TempData["MensagemDeSucesso"] != null)
{
    <script>
        var mensagem = "@TempData["MensagemDeSucesso"]";
        ProgramadorFajutoGeral.AdicionarMensagemDeSucesso(mensagem);
    </script>
}

@if (TempData["MensagemDeErro"] != null)
{
    <script>
        var mensagem = "@TempData["MensagemDeErro"]";
        ProgramadorFajutoGeral.AdicionarMensagemDeErro(mensagem);
    </script>
}
