﻿body {
    color: #fff;
    font-family: Verdana;
    padding: 30px 0 0 0;
}

a {
    color: #fff;
    text-decoration: none;
}

    a:focus, a:hover {
        color: #d2d2d2;
        text-decoration: none;
    }

section {
    padding: 1em;
}

h1, h2, h3, h4, h5, h6 {
    color: #1abc9c;
    font-weight: bold;
    padding-bottom: 1em;
}

input {
    background-color: #000;
    border: 2px solid #1abc9c;
    padding: .2em .2em .2em 1em;
}

.conteudo {
    background-color: #fff;
    color: #000;
    padding: 1em;
}

    .conteudo a, .conteudo a:hover, .conteudo a:focus {
        color: #1abc9c;
        font-weight: bold;
    }

.modal-erro, .modal-sucesso {
    color: #000;
    position: relative;
    background: #FFF;
    padding: 20px;
    width: auto;
    max-width: 500px;
    margin: 20px auto;
}

/* celulares pequenos em modo retrato */
@media only screen and (max-width: 320px) {
}

/* celulares pequenos em modo paisagem */
@media only screen and (max-width: 480px) {
}

/* tablets pequenos em modo retrato */
@media only screen and (max-width: 600px) {
}

/* tablets maiores em modo retrato */
@media only screen and (max-width: 768px) {
}

/* tablets maiores em modo paisagem, monitores pequenos */
@media only screen and (max-width: 1024px) {
}

/* monitores widescreen */
@media only screen and (max-width: 1200px) {
}
